.home-body {
    display: flex;
    height: auto;
    width: auto;
    background-color: #11071F;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    .home-body {
        height: auto; 
        padding: 20px; 
        align-items: flex-start; 
    }
}

@media only screen and (max-width: 480px) {
    .home-body {
        padding: 10px; 
        align-items: center;
    }
}
